.catalog__cards {
    list-style-type: none;
    padding: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 12px;
    margin-bottom: 20px;
}

@media (min-width: 695px) {
    .catalog__cards {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 25px;
        column-gap: 20px;
    }
}

@media (min-width: 1279px) {
    .catalog__cards {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 25px;
        column-gap: 20px;
        margin: 22px auto 20px auto;
    }

    .catalog__cards--category {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 25px;
        column-gap: 20px;
    }
}