@media (min-width: 1279px) {
    .currency {
        display: flex;
        gap: 4px;
        align-items: center;
    }

    .currency__list {
        display: block;
        position: absolute;
        top: 55px;
        right: 0px;
        background-color: var(--basic-grey);
        padding: 20px 20px;
        width: 60px;
        border-radius: 20px;
        box-shadow: 0px 0px 20px var(--dark-grey);
    }
}

.currency:hover .currency__name,
.currency:focus .currency__name,
.currency:hover .currency__pointer,
.currency:focus .currency__pointer {
    font-weight: 700;
    transition: all 0.5s;
}

.currency__logo {
    width: 16px;
    height: 16px;
}


@media (max-width: 1279px) {
    .currency__list {
        display: none;
    }

}