.header {
    display: flex;
    flex-direction: column;
    background-color: var(--light-yellow);
    background-image: url("../../images/good_mobile_1.png"),
        url("../../assets/images/background.svg"),
        url("../../assets/images/background.svg"),
        url("../../assets/images/background-blue.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center bottom, 88% -669%, -8% 453%, -13% 243%;
    border-radius: 0px 0px 20px 20px;
    padding: 0px 0px 372px 0px;
}

.header--category {
    background-color: var(--white);
    background-image: none;
    padding: 0px;
}

.header--product {
    display: none;
}

@media (min-width: 1279px) {
    .header {
        padding: 0px 145px 167px 114px;
        background-image: url("../../assets/images/girl_being_love_with_her_dog_1.png"),
        url("../../assets/images/background.svg"),
        url("../../assets/images/background.svg"),
        url("../../assets/images/background-blue.svg");
        background-position: right 7% bottom -568%, -30% -2404%, 85% 950%, 72% 243%;
    }

    .header__menu,
    .header__intro {
        max-width: 1440px;
        width: 100%;
        margin: auto;
    }

    .header--category {
        padding: 0px 145px 14px 114px;
    }

    .header--product {
        display: block;
    }
}