.menu__join-community,
.menu__currency {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 27px 17px 18px 17px;
}

.menu__burger {
    order: 0;
}

.menu__logo {
    order: 1;
}

.menu__search {
    order: 2;
}

.menu__join-community:hover,
.menu__join-community:focus {
    background-color: var(--blue);
    transition: all 0.5s;
}

@media (min-width: 1279px) {
    .menu {
        position: relative;
        padding: 31px 17px 18px 17px;
    }

    .menu__join-community {
        display: block;
        background-color: var(--basic-dark-blue);
        text-align: center;
        border-radius: 57px;
        padding: 12px 21px 8px 21px;
        order: 4;
    }

    .menu__currency {
        display: block;
        order: 5;
    }

    .menu__link {
        text-decoration: none;
        color: var(--basic-grey);
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }

    .menu__logo {
        order: 1;
    }

    .menu__nav {
        order: 2;
    }

    .menu__search {
        order: 3;
    }
}