.product {
    position: relative;
    display: flex;
    flex-direction: column;
}

.product__slider {
    order: 1;
}

.product__path {
    order: 2;
}

.product__guarantee {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    order: 8;
    padding: 30px 20px 30px 50px;
    margin-top: 40px;
    margin-bottom: 30px;
    background: var(--light-yellow);
    border-radius: 10px;
    color: var(--basic-dark-blue);
    font-weight: 700;
}

.product__share {
    order: 7;
}

.product__code {
    display: none;
}

.product__title {
    order: 3;
}

.product__price {
    order: 4;
    margin-top: 0px;
    color: var(--basic-dark-blue);
    font-size: 20px;
    font-weight: 700;
}

.product__button-wrapper {
    order: 5;
    display: flex;
    justify-content: space-between;
}

.product__info {
    order: 6;
}

.product__contact {
    background: var(--basic-dark-blue);
    padding: 16px 28px 14px 28px;
    border-radius: 30px;
    font-weight: 700;
    box-sizing: border-box;
}

.product__link {
    color: white;
    text-decoration: none;
}

.product__chat {
    display: flex;
    align-items: center;
    border: 2px solid var(--basic-dark-blue);
    background: transparent;
    padding: 14px 28px 10px 28px;
    border-radius: 30px;
    font-weight: 700;
    box-sizing: border-box;
    color: var(--basic-dark-blue);
}

.product__svg {
    width: 28px;
    height: 26px;
}

.product__share {
    position: absolute;
    top: 813px;
    left: 85%;
}

.product__share .icons,
.share__colon {
    display: none;
}

.product__share .share__text {
    position: relative;
    font-weight: 700;
    color: var(--basic-dark-blue);
}

.product__share .share__text::before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    top: 1px;
    left: -22px;
    background-image: url("../../assets/images/icons/share.svg");
}

.product__health::before {
    position: absolute;
    content: '';
    width: 24px;
    height: 22px;
    top: 30px;
    left: 17px;
    background-image: url("../../assets/images/icons/pet_health_2.svg");
}

.product__indification::before {
    position: absolute;
    content: '';
    width: 24px;
    height: 22px;
    top: 73px;
    left: 17px;
    background-image: url("../../assets/images/icons/pet_health_1.svg");
}

@media (min-width: 1279px) {
    .product {
        flex-wrap: wrap;
        height: 966px;;
    }

    .product__slider {
        width: 50%;
    }

    .product__code {
        display: block;
        order: 5;
    }

    .product__guarantee {
        order: 2;
        flex-direction: row;
        gap: 40px;
        padding: 10px 20px 10px 50px;
        width: max-content;
        font-size: 12px;
    }

    .product__indification::before {
        position: absolute;
        content: '';
        width: 24px;
        height: 22px;
        top: 8px;
        left: 241px;
    }

    .product__health::before {
        position: absolute;
        content: '';
        width: 24px;
        height: 22px;
        top: 9px;
        left: 17px;
        background-image: url("../../assets/images/icons/pet_health_2.svg");
    }

    .product__share {
        order: 3;
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        margin-left: 20px;
        margin-bottom: 145px;
    }

    .product__share .icons,
    .share__colon {
        display: inline-block;
    }

    .product__share .icons__list {
        gap: 16px;
        margin: 0px;
    }

    .product__share .icons__svg {
        height: 18px;
        width: 18px;
    }

    .product__path {
        order: 4;
    }

    .product__title {
        order: 6;
    }

    .product__price {
        order: 7;
    }

    .product__button-wrapper {
        order: 8;
    }

    .product__info {
        order: 9;
        width: 50%;
    }
}